@page "/"
@page "/dashboard"

@using AllPhi.HoGent.Blazor.Components
@using AllPhi.HoGent.Blazor.Services
@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums

@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Handlers
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.Interop





@inject IDriverServices _driverService
@inject IVehicleServices _vehicleService
@inject IFuelCardServices _fuelCardService
@inject IFuelCardDriverServices _fuelCardDriverService
@inject IDriverVehicleServices _driverVehicleService

<PageTitle>Dashboard</PageTitle>
@if (_isLoading)
{
    <LoadingSpinner IsLoading="@_isLoading" />
}
else
{
    <div class="block block-rounded h-100">
        <div class="block-header">
            <h3 class="block-title">Dashboard Analytics</h3>
        </div>
        <div class="block-content space-y-4">
            <div class="row">
                <div class="col-md-3 card mx-5 p-2">
                    <h4>Bestuurders</h4>
                    <p>Total : @_driverListDto.TotalItems</p>

                    <Chart Config="@_driversChartConfig"  />

                </div>
                <div class="col-md-3 card mx-5 p-2    ">
                    <h4>Voertuigen</h4>
                    <p>Total : @_vehicleListDto.TotalItems</p>

                    <Chart Config="@_vehiclesChartConfig"  />

                </div>
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Tankkaarten</h4>
                    <p>Total : @_fuelCardListDto.TotalItems</p>

                    <Chart Config="@_fuelCardsChartConfig"  />

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Verjaardagen</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Bestuurder</th>
                                <th>Verjaardag</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var driver in _driverUpcomingBirthday)
                            {
                                <tr>
                                    <td>@driver.FirstName @driver.LastName</td>
                                    <td>@driver.DateOfBirth.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Voertuigen met Naderende Keuringsdatum</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Nummerplaat</th>
                                <th>Vervalt op</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var vehicle in _vehicleUpcomingInspection)
                            {
                                <tr>
                                    <td>@vehicle.LicensePlate </td>
                                    <td>@vehicle.InspectionDate.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Tankkaarten met naderende vervaldag</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Kaart Nummer</th>
                                <th>Vervalt op</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var fuelcard in _fuelCardUpcomingValidity)
                            {
                                <tr>
                                    <td>@fuelcard.CardNumber </td>
                                    <td>@fuelcard.ValidityDate.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Laatst toegevoegde Bestuurders</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Bestuurder</th>
                                <th>Rijbewijs</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var vehicle in _vehicleUpcomingInspection)
                            {
                                <tr>
                                    <td>@vehicle.LicensePlate </td>
                                    <td>@vehicle.InspectionDate.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Laatst toegevoegde Voertuigen</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Nummerplaat</th>
                                <th>Vervalt op</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var vehicle in _vehicleUpcomingInspection)
                            {
                                <tr>
                                    <td>@vehicle.LicensePlate </td>
                                    <td>@vehicle.CarBrand)</td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3 card mx-5 p-2  ">
                    <h4>Laatst toegevoegde Tankkaarten</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>KaartNummer</th>
                                <th>Code</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var vehicle in _vehicleUpcomingInspection)
                            {
                                <tr>
                                    <td>@vehicle.LicensePlate </td>
                                    <td>@vehicle.InspectionDate.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>





        </div>
    </div>
}


@code {

    private FuelCardListDto? _fuelCardListDto;
    private VehicleListDto? _vehicleListDto;
    private DriverListDto? _driverListDto;
    private DriverVehicleListDto? _driverVehicleListDto;


    private bool _isLoading = true;
    private PieConfig _driversChartConfig;
    private PieConfig _vehiclesChartConfig;
    private PieConfig _fuelCardsChartConfig;

    private List<DriverDto> _driverUpcomingBirthday;
    private List<FuelCardDto> _fuelCardUpcomingValidity;
    private List<VehicleDto> _vehicleUpcomingInspection;

    protected override async Task OnInitializedAsync()
    {
        _fuelCardListDto = await _fuelCardService.GetAllFuelCardsAsync();
        _vehicleListDto = await _vehicleService.GetAllVehicleAsync();
        _driverListDto = await _driverService.GetAllDriversAsync();
        _driverVehicleListDto = await _driverVehicleService.GetAllDriverVehicleAsync();

        await Task.Run(() =>
        {
            GetUpcomingBirthdays();
            GetUpcomingVehicleInspections();
            GetUpcomingValidityFuelCards();
            InitializeCharts();
        });
        _isLoading = false;
    }

    private void GetUpcomingVehicleInspections()
    {
        if (_vehicleListDto != null && _vehicleListDto.VehicleDtos != null)
        {
            var today = DateTime.Now;
            var todayPlus10Days = DateTime.Now.AddDays(30);
            _vehicleUpcomingInspection = _vehicleListDto.VehicleDtos
                .Where(d =>
                    (new DateTime(today.Year, d.InspectionDate.Month, d.InspectionDate.Day) >= today &&
                    new DateTime(today.Year, d.InspectionDate.Month, d.InspectionDate.Day) <= todayPlus10Days) ||
                    (d.InspectionDate.Month == 12 && d.InspectionDate.Day <= todayPlus10Days.Day - 365)
                ).ToList();
        }
        else
        {
            _vehicleUpcomingInspection = new List<VehicleDto>();
        }

    }

    private void GetUpcomingBirthdays()
    {
        if (_driverListDto != null && _driverListDto.DriverDtos != null)
        {
            var today = DateTime.Now;
            var todayPlus10Days = DateTime.Now.AddDays(10);
            _driverUpcomingBirthday = _driverListDto.DriverDtos
                .Where(d =>
                    (new DateTime(today.Year, d.DateOfBirth.Month, d.DateOfBirth.Day) >= today &&
                    new DateTime(today.Year, d.DateOfBirth.Month, d.DateOfBirth.Day) <= todayPlus10Days) ||
                    (d.DateOfBirth.Month == 12 && d.DateOfBirth.Day <= todayPlus10Days.Day - 365)
                ).ToList();
        }
        else
        {
            _driverUpcomingBirthday = new List<DriverDto>();
        }

    }

    private void GetUpcomingValidityFuelCards()
    {
        if (_fuelCardListDto != null && _fuelCardListDto.FuelCardDtos != null)
        {
            var today = DateTime.Now;
            var todayPlus10Days = DateTime.Now.AddDays(30);
            _fuelCardUpcomingValidity = _fuelCardListDto.FuelCardDtos
                .Where(d =>
                    (new DateTime(today.Year, d.ValidityDate.Month, d.ValidityDate.Day) >= today &&
                    new DateTime(today.Year, d.ValidityDate.Month, d.ValidityDate.Day) <= todayPlus10Days) ||
                    (d.ValidityDate.Month == 12 && d.ValidityDate.Day <= todayPlus10Days.Day - 365)
                ).ToList();
        }
        else
        {
            _fuelCardUpcomingValidity = new List<FuelCardDto>();
        }

    }

    private void InitializeCharts()
    {
        // For Drivers
        int driversAssignedToVehicles = _driverVehicleListDto.DriverVehicleDtos.Select(dv => dv.DriverId).Distinct().Count();
        int driversNotAssignedToVehicles = _driverListDto.TotalItems - driversAssignedToVehicles;

        _driversChartConfig = GetChartConfig("Bestuurder", new int[] { driversNotAssignedToVehicles, driversAssignedToVehicles }, new string[] { "#08354a", "#2397d4" }, 1);

        // For Vehicles
        int vehiclesWithDrivers = _driverVehicleListDto.DriverVehicleDtos.Select(dv => dv.VehicleId).Distinct().Count();
        int vehiclesWithoutDrivers = _vehicleListDto.TotalItems - vehiclesWithDrivers;

        _vehiclesChartConfig = GetChartConfig("Voertuig", new int[] { vehiclesWithoutDrivers, vehiclesWithDrivers }, new string[] { "#08354a", "#2397d4" }, 2);

        // For Fuel Cards
        int fuelCardsWithDrivers = _fuelCardListDto.FuelCardDtos.Count(fc => fc.DriverDtos != null && fc.DriverDtos.Any());
        int fuelCardsWithoutDrivers = _fuelCardListDto.TotalItems - fuelCardsWithDrivers;

        _fuelCardsChartConfig = GetChartConfig("Tankkaarten", new int[] { fuelCardsWithoutDrivers, fuelCardsWithDrivers }, new string[] { "#08354a", "#2397d4" }, 3);
    }



    private PieConfig GetChartConfig(string label, int[] data, string[] backgroundColors, int chart)
    {
        var config = new PieConfig(true)
            {


                Options = new PieOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle

                    {
                        Display = true,
                        Text = label + " Verdeling"
                    }
                }
            };

        if (chart == 1)
        {
            config.Data.Labels.Clear();
            foreach (var status in new[] { "Beschikbare Bestuurders", "Bestuurders gekoppeld aan Voertuig" })
            {
                config.Data.Labels.Add(status);
            }
        }

        if (chart == 2)
        {
            config.Data.Labels.Clear();
            foreach (var status in new[] { "Beschikbare Voertuigen", "Voertuigen gekoppeld aan Bestuurder" })
            {
                config.Data.Labels.Add(status);
            }
        }

        if (chart == 3)
        {
            config.Data.Labels.Clear();
            foreach (var status in new[] { "Beschikbare Tankkaarten", "Tankkaarten gekoppeld aan Bestuurder" })
            {
                config.Data.Labels.Add(status);
            }
        }


        var dataset = new PieDataset<int>(data)
            {
                BackgroundColor = backgroundColors,

            };

        config.Data.Datasets.Add(dataset);

        return config;
    }
}

