@page "/drivers"

@using AllPhi.HoGent.Blazor.Services
@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums
@using AllPhi.HoGent.Blazor.Components

@inject IDriverServices _driverService
@inject IVehicleServices _vehicleService
@inject IFuelCardServices _fuelCardService
@inject IFuelCardDriverServices _fuelCardDriverService
@inject IDriverVehicleServices _driverVehicleService


<PageTitle>Drivers</PageTitle>

@if (_isLoading)
{
    <LoadingSpinner IsLoading="@_isLoading" />
}
else
{
    <div class="row mb-5 table-page">
        <div class="">
            <div class="main-table">
                <div class="d-flex justify-content-between p-2 flex-column">
                    <div class="d-flex button-mobile-ui">
                        @if (_showAllDrivers)
                        {
                            <button type="button" class="btn buttons-succes m-2" @onclick="AddNewDriver">Bestuurder toevoegen</button>
                        }
                        else if (!_showAllDrivers)
                        {
                            <button type="button" class="btn buttons-succes m-2" @onclick="ShowAllCars">Toon alle wagens</button>
                        }
                    </div>
                </div>

                @if (_showAllDrivers)
                {
                    <div class="table-responsive ">
                        <table class="table table-hover" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th style="width:0px;"></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("firstname")'>Voornaam <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("lastname")'>Achternaam <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("city")'>Gemeente <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("street")'>Straat <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("housenumber")'>Huisnummer <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("registernumber")'>Rijksregisternummer <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("typeofdriverlicense")'>Rijbewijs <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("status")'>Status <span class="fa fa-sort"></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_driverListDto != null && _driverListDto.DriverDtos.Any())
                                {
                                    @foreach (var driver in _driverListDto.DriverDtos)
                                    {
                                        <tr class="pointer-cursor">
                                            <td class="align-middle border-start" @onclick="(() => SelectDriver(driver))"><span class="fas fa-id-card"></span></td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.FirstName</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.LastName</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.City</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.Street</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.HouseNumber</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.RegisterNumber</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.TypeOfDriverLicense</td>
                                            <td @onclick="(() => SelectDriver(driver))">@driver.Status</td>
                                            <td @onclick="() => SelectAndShowDelete(driver)">
                                                <span type="button" class="fa fa-trash-can" @onclick="() => _showDeleteConfirmation = true" style="color: #cf5256"></span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <PaginationComponent CurrentPage="@_pageNumber"
                                             TotalPages="@_totalPages"
                                             ItemsPerPage="@_pageSize"
                                             OnPageChanged="HandlePageChanged"
                                             OnItemsPerPageChanged="HandleItemsPerPageChanged" />

                    </div>
                }
            </div>

            @if (_showSendConfirmation && !_showAllDrivers)
            {
                <div class="main-table">
                    @if (_driverAdded)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol toegevoegd</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Bestuurder is succesvol toegevoegd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_driverUpdated)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol bijgewerkt</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Bestuurder is succesvol bijgewerkt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_driverDeleted)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol verwijderd</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Bestuurder is succesvol verwijderd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_error)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-times-circle text-danger me-3"></span>@ErrorTitle</h4>
                                </div>
                                <div>
                                    <p>
                                        @ErrorMessage<br />
                                        Gelieve contact op te nemem met onze support via <a href="/">support@allphi.be</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-times-circle text-danger me-3"></span> Oei, er ging iets verkeerd</h4>
                                </div>
                                <div>
                                    <p>
                                        Excuses! Er ging iets verkeerd.<br />
                                        Gelieve contact op te nemem met onze support via <a href="/">support@allphi.be</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @if (_addNewDriver)
                {
                    <div class="wizard-table usermanagement-table-size">
                        <div class="d-flex justify-content-between p-1">
                            <h3>Nieuwe bestuurder</h3>
                        </div>

                        <div class="usermanagement-table-responsive border p-1 justify-content-around" style="background-color:white;">
                            <div class="d-flex justify-content-around flex-wrap">
                                <div class="row w-100">
                                    <div class="col-md-12" style="">
                                        <DriverWizardForm OnSave="@((x) => SaveNewUser(x))" FuelCards="@_fuelCardListDto.FuelCardDtos" Vehicles="@_vehicleListDto.VehicleDtos" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (_selectedDriver)
                {
                    <div class="update-table">
                        <div class="d-flex justify-content-between p-1 flex-column">
                            <h3>Geselecteerde bestuurder</h3>
                            <div class="d-flex button-mobile-ui">
                                <button type="submit" class="btn btn buttons-succes m-2" form="driver-form">Wijziging opslaan</button>
                                @*<button type="button" class="btn btn buttons-danger m-2" @onclick="() => _showDeleteConfirmation = true">Bestuurder verwijderen</button>*@
                            </div>
                        </div>

                        <div class=" p-1" style="background-color: white;">
                            <form class="d-flex justify-content-around flex-wrap" id="driver-form" @onsubmit="@UpdateSelectedUser">
                                <div class="row w-100">
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="firstName">Voornaam:</label>
                                        <input class="form-input-select" id="firstName" @bind="_selectedDriverDto.FirstName" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto?.FirstName))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Voornaam is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Straat:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.Street" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto.Street))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Straat is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Achternaam:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.LastName" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto.LastName))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Achternaam is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Gemeente:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.City" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto.City))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Gemeente is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Rijksregisternummer:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.RegisterNumber" />
                                        @if (_selectedDriverDto.RegisterNumber.Length < 5)
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Rijksregisternummer is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Postcode:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.PostalCode" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto.PostalCode))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Postcode is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex form-titles" for="gebruikersrol">Rijbewijs:</label>
                                        <select class="form-input-select" id="gebruikersrol" @bind="@_selectedDriverDto.TypeOfDriverLicense">
                                            @foreach (var role in Enum.GetValues(typeof(TypeOfDriverLicense)).Cast<TypeOfDriverLicense>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@role">@(((TypeOfDriverLicense)role))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Huisnummer:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedDriverDto.HouseNumber" />
                                        @if (string.IsNullOrEmpty(_selectedDriverDto.HouseNumber))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Huisnummer is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex form-titles" for="gebruikersrol">Status:</label>
                                        <select class="form-input-select" id="gebruikersrol" @bind="@_selectedDriverDto.Status">
                                            @foreach (var role in Enum.GetValues(typeof(Status)).Cast<Status>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@role">@(((Status)role))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="form-titles">Gekoppelde tankkaarten:</label>
                                        @if (_fuelCardListDto != null && _fuelCardListDto.FuelCardDtos.Any())
                                        {
                                            <div class="scrollable-driver-list">
                                                @foreach (var fuelCard in _fuelCardListDto.FuelCardDtos.OrderBy(x => x.CardNumber))
                                                {
                                                    <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedfuelCard.Contains(fuelCard) ? "tabel-row-selected" : "")"
                                                         @onclick="@(() => CheckFuelCardChanged(fuelCard))">
                                                        <label class="pointer-cursor">@fuelCard.CardNumber @fuelCard.Pin</label>
                                                        <input class="pointer-cursor" checked="@(_checkedfuelCard.Contains(fuelCard))" type="checkbox" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label class="form-titles">Gekoppelde bestuurders:</label>
                                        @if (_vehicleListDto != null && _vehicleListDto.VehicleDtos.Any())
                                        {
                                            <div class="scrollable-driver-list">
                                                @foreach (var vehicle in _vehicleListDto.VehicleDtos.OrderBy(x => x.ChassisNumber))
                                                {
                                                    <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedVehicle.Contains(vehicle) ? "tabel-row-selected" : "")"
                                                         @onclick="@(() => CheckVehicleChanged(vehicle))">
                                                        <label class="pointer-cursor">@vehicle.ChassisNumber @vehicle.LicensePlate</label>
                                                        <input class="pointer-cursor" checked="@(_checkedVehicle.Contains(vehicle))" type="checkbox" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-7">
                        <div class="d-flex justify-content-between p-1">
                            <h4 id="animatedText" style="color: #54a2d5;">Selecteer een bestuurder of klik op 'bestuurder toevoegen'</h4>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
}

<DialogContainer Visible="_showDeleteConfirmation">
    <div class="modal d-flex justify-content-center align-items-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verwijderen</h5>
                </div>
                <div class="modal-body">
                    <p>Bent u zeker dat u de bestuurder wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => _showDeleteConfirmation = false">Neen</button>
                    <button type="button" class="btn btn-primary" @onclick="async () => { await DeleteDriver(_selectedDriverDto); }">Ja</button>
                </div>
            </div>
        </div>
    </div>
</DialogContainer>


@code {

    private bool _isLoading = true;

    private FuelCardListDto? _fuelCardListDto;
    private VehicleListDto? _vehicleListDto;
    private DriverListDto? _driverListDto;

    private DriverDto _selectedDriverDto = new();
    private List<FuelCardDriverDto> _fuelCardDriverDtos = new();
    private List<FuelCardDto> _checkedfuelCard = new();
    private List<VehicleDto> _checkedVehicle = new();
    private List<DriverVehicleDto> _driverVehicleDtos = new();


    private bool _isSortAscending = true;
    private string _currentSortColumn = "date";
    private int _pageSize = 5;
    private int _pageNumber = 1;
    private int _totalPages;

    public string ErrorTitle { get; set; } = string.Empty;
    public string ErrorMessage { get; set; } = string.Empty;

    private bool _driverAdded = false;
    private bool _driverUpdated = false;
    private bool _driverDeleted = false;

    private bool _selectedDriver = false;
    private bool _addNewDriver = false;
    private bool _showSendConfirmation = false;
    private bool _showDeleteConfirmation = false;
    private bool _error = false;
    private bool _showAllDrivers = true;

    protected override async Task OnInitializedAsync()
    {
        _fuelCardListDto = await _fuelCardService.GetAllFuelCardsAsync();
        _vehicleListDto = await _vehicleService.GetAllVehicleAsync();

        await LoadDriverListDto();
        _isLoading = false;
    }

    private async Task LoadDriverListDto()
    {
        _driverListDto = await _driverService.GetAllDriversAsync(_currentSortColumn, _isSortAscending, _pageNumber, _pageSize);
        _totalPages = (int)Math.Ceiling((double)_vehicleListDto.TotalItems / _pageSize);
    }

    private void AddNewDriver()
    {
        SetBoolDefault();

        _selectedDriver = false;
        _addNewDriver = true;
        _showAllDrivers = false;
    }

    private void SetBoolDefault()
    {
        _showSendConfirmation = false;
        _error = false;
    }

    private async Task SelectAndShowDelete(DriverDto  driverDto)
    {
        await SelectDriver(driverDto);
        ShowAllDrivers();
        _showDeleteConfirmation = true;

    }


    private async Task SelectDriver(DriverDto selectedDriver)
    {
        _isLoading = true;

        _selectedDriverDto = selectedDriver;

        _fuelCardDriverDtos = (await _fuelCardDriverService.GetDriverWithConnectedFuelCardsByDriverId(_selectedDriverDto.Id)).Item1;
        var v = _fuelCardDriverDtos.Select(x => _fuelCardListDto.FuelCardDtos.Where(r => x.FuelCardId == r.Id).ToList()).ToList();
        _checkedfuelCard = v.SelectMany(x => x.Select(x => x).ToList()).ToList();

        _driverVehicleDtos = (await _driverVehicleService.GetDriverWithConnectedVehiclesByDriverId(_selectedDriverDto.Id)).Item1;
        var a = _driverVehicleDtos.Select(x => _vehicleListDto.VehicleDtos.Where(r => x.VehicleId == r.Id).ToList()).ToList();
        _checkedVehicle = a.SelectMany(x => x.Select(x => x).ToList()).ToList();

        _showSendConfirmation = false;
        _selectedDriver = true;
        _addNewDriver = false;
        _driverAdded = false;
        _driverUpdated = false;
        _driverDeleted = false;
        _showAllDrivers = false;

        _isLoading = false;
    }

    private async Task SaveNewUser(DriverDto driverDto)
    {
        _isLoading = true;
        try
        {
            if (driverDto is not null)
            {
                var (status, statusMessage) = await _driverService.AddFDriverAsync(driverDto);

                var (statusRelatedFuelCards, statusMessageRelatedFuelCards) = await _fuelCardDriverService.UpdateDriverWithFuelCards(driverDto.Id, driverDto.FuelCardDtos.Select(x => x.Id).ToList());

                var (statusRelatedVehicles, statusMessageRelatedVehicles) = await _driverVehicleService.UpdateDriverWithVehicles(driverDto.Id, driverDto.VehicleDtos.Select(x => x.Id)
                                                                                                                                                                    .ToList());

                if (!status || !statusRelatedFuelCards || !statusRelatedVehicles)
                {
                    ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
                    ErrorMessage = statusMessage;
                    _error = true;
                }
                else
                    _driverAdded = true;

                _showSendConfirmation = true;
                await LoadDriverListDto();
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het toevoegen. Error: {ex.Message}";
            _error = true;
        }

        _isLoading = false;
    }

    private async Task DeleteDriver(DriverDto driverDto)
    {
        _isLoading = true;
        try
        {
            if (driverDto is not null)
            {
                await _driverService.DeleteDriverAsync(driverDto.Id);

                _showSendConfirmation = true;
                _driverDeleted = true;

                await LoadDriverListDto();
                await InvokeAsync(StateHasChanged);
            }
            _showDeleteConfirmation = false;
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het verwijderen";
            ErrorMessage = "Excuses! Er ging iets verkeerd tijdens het verwijderen.";
            _error = true;
            _showDeleteConfirmation = false;
        }

        _isLoading = false;
    }

    private async Task UpdateSelectedUser()
    {
        _isLoading = true;
        try
        {
            if (_selectedDriverDto is not null)
            {
                var updateFuelCard = await _driverService.UpdateDriverAsync(_selectedDriverDto);

                var (statusRelatedDrivers, statusMessageRelatedDrivers) = await _fuelCardDriverService.UpdateDriverWithFuelCards(_selectedDriverDto.Id, _checkedfuelCard.Select(x => x.Id)
                                                                                                                                                                        .ToList());
                var (statusRelatedVehicles, statusMessageRelatedVehicles) = await _driverVehicleService.UpdateDriverWithVehicles(_selectedDriverDto.Id, _checkedfuelCard.Select(x => x.Id)
                                                                                                                                                                        .ToList());
                if (!updateFuelCard || !statusRelatedDrivers)
                {
                    ErrorTitle = "Oei, er ging iets verkeerd tijdens het updaten.";
                    ErrorMessage = statusMessageRelatedDrivers;
                    _error = true;
                }
                else
                    _driverDeleted = true;

                _showSendConfirmation = true;
                await LoadDriverListDto();
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = "Oei, er ging iets mis tijdens het bewerken.";
            ErrorMessage = $"Excuses! Er ging iets mis tijdens het bewerken. Error: {ex.Message}";
            _error = true;
        }

        _isLoading = false;
    }

    private void CheckFuelCardChanged(FuelCardDto fuelCardDto)
    {
        if (_checkedfuelCard.Contains(fuelCardDto))
            _checkedfuelCard.Remove(fuelCardDto);
        else
            _checkedfuelCard.Add(fuelCardDto);
    }

    private void CheckVehicleChanged(VehicleDto vehicleDto)
    {
        if (_checkedVehicle.Contains(vehicleDto))
            _checkedVehicle.Remove(vehicleDto);
        else
            _checkedVehicle.Add(vehicleDto);
    }

    private async Task SortTable(string columnName)
    {
        _isLoading = true;
        if (_currentSortColumn == columnName)
        {
            _isSortAscending = !_isSortAscending;
        }
        else
        {
            _currentSortColumn = columnName;
            _isSortAscending = true;
        }

        await LoadDriverListDto();
        _isLoading = false;
    }

    private async Task HandlePageChanged(int page)
    {
        _isLoading = true;
        _pageNumber = page;
        await LoadDriverListDto();
        _isLoading = false;
    }

    private async Task HandleItemsPerPageChanged(int itemsPerPage)
    {
        _isLoading = true;
        _pageSize = itemsPerPage;
        await LoadDriverListDto();
        _isLoading = false;
    }

    private void ShowAllDrivers()
    {
        _showAllDrivers = true;
        _driverAdded = false;
        _selectedDriver = false;
        _addNewDriver = false;
    }
}