@page "/vehicles"

@using AllPhi.HoGent.Blazor.Components
@using AllPhi.HoGent.Blazor.Services
@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums
@using AllPhi.HoGent.Datalake.Data.Helpers
@using AllPhi.HoGent.Blazor.Extansions

@inject IDriverServices _driverService
@inject IVehicleServices _vehicleService
@inject IDriverVehicleServices _driverVehicleService

<PageTitle>Vehicles</PageTitle>

<style>
    .table-responsive {
        overflow-x: auto;
        width: 100%;
    }

    .main-table {
        width: inherit;
    }

    .update-table {
        /*padding-top: 100px;*/
    }


    .scrollable-driver-list {
        max-height: 220px;
        overflow-y: auto;
    }

    .tabel-row-design:hover {
        background-color: rgba(33,150,243,0.058823529411764705) !important;
    }

    table tbody .eentest :hover {
        background-color: rgba(33,150,243,0.058823529411764705) !important;
    }
</style>

@if (_isLoading)
{
    <LoadingSpinner IsLoading="@_isLoading" />
}
else
{


    <div class="row mb-5 table-page">
        <div class="">
            <div class="main-table">
                <div class="d-flex justify-content-between p-2 flex-column">
                    <div class="d-flex button-mobile-ui">
                        @if (_showAllCars)
                        {
                            <button type="button" class="btn buttons-succes m-2" @onclick="AddNewVehicle">Voertuig toevoegen</button>
                        }
                        else if (!_showAllCars)
                        {
                            <button type="button" class="btn buttons-succes m-2" @onclick="ShowAllCars">Toon alle Voertuigen</button>
                        }
                    </div>
                </div>

                @if (_showAllCars)
                {
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th style="width:0px;"></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("chassisnumber")'>Chassisnummer <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("licenseplate")'>Nummerplaat <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("carbrand")'>Merk <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("fueltype")'>Brandstof <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("typeofcar")'>Type Voertuig <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("color")'>Kleur <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("numberofdoors")'>Aantal deuren <span class="fa fa-sort"></span></th>
                                    <th class="tabel-row-design pointer-cursor" @onclick='()=>SortTable("status")'>Status <span class="fa fa-sort"></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="">
                                @if (_vehicleListDto != null && _vehicleListDto.VehicleDtos.Any())
                                {
                                    @foreach (var vehicle in _vehicleListDto.VehicleDtos)
                                    {
                                        <tr class="pointer-cursor">
                                            <td class="align-middle border-start" @onclick="(() => SelectVehicle(vehicle))"><span class="fas fa-car-side"></span></td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.ChassisNumber</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.LicensePlate</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.CarBrand</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.FuelType</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.TypeOfCar</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.Color</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.NumberOfDoors.GetDescription()</td>
                                            <td @onclick="(() => SelectVehicle(vehicle))">@vehicle.Status</td>
                                            <td @onclick="(() => SelectAndShowDelete(vehicle))">
                                                <span type="button" class="fa fa-trash-can" @onclick="() => _showDeleteConfirmation = true" style="color: #cf5256"></span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <PaginationComponent CurrentPage="@_pageNumber"
                                             TotalPages="@_totalPages"
                                             ItemsPerPage="@_pageSize"
                                             OnPageChanged="HandlePageChanged"
                                             OnItemsPerPageChanged="HandleItemsPerPageChanged" />

                    </div>
                }


            </div>

            @if (_showSendConfirmation && !_showAllCars)
            {
                <div class="main-table">
                    @if (_vehicleAdded)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol toegevoegd</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Voertuig is succesvol toegevoegd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_vehicleUpdated)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol bijgewerkt</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Voertuig is succesvol bijgewerkt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_vehicleDeleted)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-check-circle text-success me-3" data-feather="check-circle"></span>Succesvol verwijderd</h4>
                                </div>
                                <div>
                                    <p>
                                        Bedankt!<br />
                                        Voertuig is succesvol verwijderd.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else if (_error)
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-times-circle text-danger me-3"></span>@ErrorTitle</h4>
                                </div>
                                <div>
                                    <p>
                                        @ErrorMessage<br />
                                        Gelieve contact op te nemem met onze support via <a href="/">support@allphi.be</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col mb-3">
                                <div class="mb-3">
                                    <h4><span class="far fa-times-circle text-danger me-3"></span> Oei, er ging iets verkeerd</h4>
                                </div>
                                <div>
                                    <p>
                                        Excuses! Er ging iets verkeerd.<br />
                                        Gelieve contact op te nemem met onze support via <a href="/">support@allphi.be</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @if (_addNewVehicle)
                {
                    <div class="wizard-table usermanagement-table-size">
                        <div class="d-flex justify-content-between p-1">
                            <h3>Nieuw Voertuig</h3>
                        </div>

                        <div class="usermanagement-table-responsive border p-1  justify-content-around" style="background-color:white;">
                            <div class="d-flex justify-content-around flex-wrap">
                                <div class="row w-100">
                                    <div class="col-md-12" style="">
                                        <VehicleWizardForm OnSave="@((x) => SaveNewUser(x))" Drivers="@_driverListDto?.DriverDtos" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (_selectedVehicle)
                {
                    <div class="update-table">
                        <div class="d-flex justify-content-between p-1 flex-column">
                            <h3>Geselecteerd Voertuig</h3>
                            <div class="d-flex button-mobile-ui">
                                <button type="submit" class="btn btn buttons-succes m-2" form="driver-form">Wijziging opslaan</button>
                                @*<button type="button" class="btn btn buttons-danger m-2" @onclick="() => _showDeleteConfirmation = true">Wagen verwijderen</button>*@
                            </div>
                        </div>

                        <div class=" p-1" style="background-color: white;">
                            <form class="d-flex justify-content-around flex-wrap" id="driver-form" @onsubmit="@UpdateSelectedUser">
                                <div class="row w-100">
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="chasisnumber">Chassisnummer:</label>
                                        <input class="form-input-select" id="chasisnumber" @bind="_selectedVehicleDto.ChassisNumber" />
                                        @if (string.IsNullOrEmpty(_selectedVehicleDto?.ChassisNumber))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">ChassisNumber is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="lastName">Nummerplaat:</label>
                                        <input class="form-input-select" id="lastName" @bind="_selectedVehicleDto.LicensePlate" />
                                        @if (string.IsNullOrEmpty(_selectedVehicleDto.LicensePlate))
                                        {
                                            <p class="text-danger" style="font-size: 0.9rem;">Nummerplaat is verplicht</p>
                                        }
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="carbrand">Voertuig merk:</label>
                                        <select class="form-input-select" id="carbrand" @bind="@_selectedVehicleDto.CarBrand">
                                            @foreach (var carBrand in Enum.GetValues(typeof(CarBrand)).Cast<CarBrand>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@carBrand">@(((CarBrand)carBrand))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="fueltype">Brandstof:</label>
                                        <select class="form-input-select" id="fueltype" @bind="@_selectedVehicleDto.FuelType">
                                            @foreach (var fuelType in Enum.GetValues(typeof(FuelType)).Cast<FuelType>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@fuelType">@(((FuelType)fuelType))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="typeofcar">Voertuig type:</label>
                                        <select class="form-input-select" id="typeofcar" @bind="@_selectedVehicleDto.TypeOfCar">
                                            @foreach (var typeOfCar in Enum.GetValues(typeof(TypeOfCar)).Cast<TypeOfCar>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@typeOfCar">@(((TypeOfCar)typeOfCar))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex required-field-mark form-titles" for="color">Kleur:</label>
                                        <select class="form-input-select" id="color" @bind="@_selectedVehicleDto.Color">
                                            @foreach (var color in Enum.GetValues(typeof(VehicleColor)).Cast<VehicleColor>().OrderBy(x => x.ToString()))
                                            {
                                                <option value="@color">@(((VehicleColor)color))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex form-titles" for="numberofdoors">Aantal deuren:</label>
                                        <select class="form-input-select" id="numberofdoors" @bind="@_selectedVehicleDto.NumberOfDoors">
                                            @foreach (var numberOfDoors in NumberOfDoorsExtensions.GetAllDoorDescriptions())
                                            {
                                                <option value="@numberOfDoors.Key">@numberOfDoors.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="d-flex form-titles" for="status">Status:</label>
                                        <select class="form-input-select" id="status" @bind="@_selectedVehicleDto.Status">
                                            @foreach (var status in Enum.GetValues(typeof(Status)))
                                            {
                                                <option value="@status">@(((Status)status))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12 mb-3 d-flex flex-wrap">
                                        <label class="col-md-3 form-titles">Gekoppelde bestuurders:</label>
                                        <div class="col-md-3" style="margin-right:15px; margin-bottom:5px;">
                                            <input class="w-100" type="text" placeholder="Zoek bestuurder op naam" @bind="_searchNameTerm" @oninput="OnChangeName" />
                                        </div>
                                        <div class="col-md-3">
                                            <input class="w-100" type="number" placeholder="Zoek bestuurder rijksregister" @bind="_searchRegisterNumberTerm" @oninput="OnChangeRegister" />
                                        </div>
                                        @if (_filteredListDriverDto != null && _filteredListDriverDto.Any())
                                        {
                                            <div class="col-md-12 scrollable-driver-list">
                                                @foreach (var driver in _filteredListDriverDto.OrderBy(x => x.FirstName))
                                                {
                                                    <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedDriver.Contains(driver) ? " tabel-row-selected" : "" )"
                                                         @onclick="@(() => CheckFuelCardChanged(driver))">
                                                        <label class="pointer-cursor">@driver.FirstName @driver.RegisterNumber</label>
                                                        <input class="pointer-cursor" checked="@(_checkedDriver.Contains(driver))" type="checkbox" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-7">
                        <div class="d-flex justify-content-between p-1">
                            <h4 id="animatedText" style="color: #54a2d5;">Selecteer een Voertuig of klik op 'Voertuig toevoegen'</h4>
                        </div>
                    </div>
                }

            }

        </div>
    </div>
}

<DialogContainer Visible="_showDeleteConfirmation">
    <div class="modal d-flex justify-content-center align-items-center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verwijderen</h5>
                </div>
                <div class="modal-body">
                    <p>Bent u zeker dat het voertuig wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => _showDeleteConfirmation = false">Neen</button>
                    <button type="button" class="btn btn-primary" @onclick="async () => { await DeleteVehicle(_selectedVehicleDto); }">Ja</button>
                </div>
            </div>
        </div>
    </div>
</DialogContainer>

@code {
    private VehicleListDto? _vehicleListDto;
    private DriverListDto? _driverListDto;

    private VehicleDto _selectedVehicleDto = new();
    private List<DriverVehicleDto> _driverVehicleDtos = new();
    private List<DriverDto> _checkedDriver = new();

    private IEnumerable<DriverDto> _filteredListDriverDto;

    private bool _vehicleAdded = false;
    private bool _vehicleUpdated = false;
    private bool _vehicleDeleted = false;

    private bool _showDeleteConfirmation = false;
    private bool _showSendConfirmation = false;
    private bool _error = false;
    private bool _addNewVehicle = false;
    private bool _selectedVehicle = false;
    private bool _showAllCars = true;

    public string ErrorTitle { get; set; } = string.Empty;
    public string ErrorMessage { get; set; } = string.Empty;

    private string _searchNameTerm = string.Empty;
    private string _searchRegisterNumberTerm = string.Empty;
    private int _currentFilterVersion = 0;
    private const int FilterDelay = 700;


    private bool _isSortAscending = true;
    private string _currentSortColumn = "date";
    private int _pageSize = 5;
    private int _pageNumber = 1;
    private int _totalPages;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadVehicleListDto();
        _driverListDto = await _driverService.GetAllDriversAsync();
        _isLoading = false;
    }

    private async Task LoadVehicleListDto()
    {
        Pagination pagination = new Pagination(_pageNumber, _pageSize);
        _vehicleListDto = await _vehicleService.GetAllVehicleAsync(_currentSortColumn, _isSortAscending, pagination);
        _totalPages = (int)Math.Ceiling((double)_vehicleListDto.TotalItems / _pageSize);
    }

    private void AddNewVehicle()
    {
        SetBoolDefault();

        _selectedVehicle = false;
        _addNewVehicle = true;
        _showAllCars = false;
    }

    private void SetBoolDefault()
    {
        _showSendConfirmation = false;
        _error = false;
    }

    private async Task SelectAndShowDelete(VehicleDto selectedVehicle)
    {
        await SelectVehicle(selectedVehicle);
        ShowAllCars();
        _showDeleteConfirmation = true;

    }

    private async Task SelectVehicle(VehicleDto selectedVehicle)
    {
        _isLoading = true;

        _selectedVehicleDto = selectedVehicle;
        _driverVehicleDtos = (await _driverVehicleService.GetVehicleWithConnectedDriversByVehicleId(_selectedVehicleDto.Id)).Item1;
        var v = _driverVehicleDtos.Select(x => _driverListDto.DriverDtos.Where(r => x.DriverId == r.Id).ToList()).ToList();
        _checkedDriver = v.SelectMany(x => x.Select(x => x).ToList()).ToList();
        _showSendConfirmation = false;
        _selectedVehicle = true;
        _addNewVehicle = false;
        _vehicleAdded = false;
        _vehicleUpdated = false;
        _vehicleDeleted = false;
        _showAllCars = false;

        _filteredListDriverDto = _driverListDto?.DriverDtos ?? new();

        _isLoading = false;
    }

    private async Task SaveNewUser(VehicleDto vehicleDto)
    {
        _isLoading = true;

        try
        {
            if (vehicleDto is not null)
            {
                var (status, statusMessage) = await _vehicleService.AddFVehicleAsync(vehicleDto);
                if (status)
                    var (statusRelatedDrivers, statusMessageRelatedDrivers) = await _driverVehicleService.UpdateVehicleWithDrivers(vehicleDto.Id, vehicleDto.DriversDto.Select(x => x.Id).ToList());
                if (!status)
                {
                    ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
                    ErrorMessage = statusMessage;
                    _error = true;
                }
                else
                    _vehicleAdded = true;

                _showSendConfirmation = true;
                await LoadVehicleListDto();
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het toevoegen.";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het toevoegen. Error: {ex.Message}";
            _error = true;
        }

        _isLoading = false;
    }

    private async Task DeleteVehicle(VehicleDto vehicleDto)
    {
        _isLoading = true;
        try
        {
            if (vehicleDto is not null)
            {
                await _vehicleService.DeleteVehicleAsync(vehicleDto.Id);

                _showSendConfirmation = true;
                _vehicleDeleted = true;

                await LoadVehicleListDto();
                await InvokeAsync(StateHasChanged);
            }
            _showDeleteConfirmation = false;
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het verwijderen";
            ErrorMessage = "Excuses! Er ging iets verkeerd tijdens het verwijderen.";
            _error = true;
            _showDeleteConfirmation = false;
        }

        _isLoading = false;
    }

    private async Task UpdateSelectedUser()
    {
        _isLoading = true;
        try
        {
            if (_selectedVehicleDto is not null)
            {
                var updatedvehicle = await _vehicleService.UpdateVehicleAsync(_selectedVehicleDto);
                var (statusRelatedDrivers, statusMessageRelatedDrivers) = await _driverVehicleService.UpdateVehicleWithDrivers(_selectedVehicleDto.Id, _checkedDriver.Select(x => x.Id).ToList());

                if (!updatedvehicle || !statusRelatedDrivers)
                {
                    ErrorTitle = " Oei, er ging iets verkeerd tijdens het updaten.";
                    ErrorMessage = statusMessageRelatedDrivers;
                    _error = true;
                }
                else
                    _vehicleUpdated = true;

                _showSendConfirmation = true;
                await LoadVehicleListDto();
            }
        }
        catch (Exception ex)
        {
            ErrorTitle = " Oei, er ging iets verkeerd tijdens het bijwerken";
            ErrorMessage = $"Excuses! Er ging iets verkeerd tijdens het bijwerken. Error: {ex.Message}";
            _error = true;
        }

        _isLoading = false;
    }

    private void CheckFuelCardChanged(DriverDto driverDto)
    {
        if (_checkedDriver.Contains(driverDto))
            _checkedDriver.Remove(driverDto);
        else
            _checkedDriver.Add(driverDto);
    }

    private async Task SortTable(string columnName)
    {
        _isLoading = true;
        if (columnName == _currentSortColumn)
            _isSortAscending = !_isSortAscending;
        else
        {
            _currentSortColumn = columnName;
            _isSortAscending = true;
        }
        await LoadVehicleListDto();
        _isLoading = false;
    }

    private async Task HandlePageChanged(int page)
    {
        _isLoading = true;
        _pageNumber = page;
        await LoadVehicleListDto();
        _isLoading = false;
    }

    private async Task HandlePage(int page)
    {
        _isLoading = true;
        _pageNumber = page;
        await LoadVehicleListDto();
        _isLoading = false;
    }

    private async Task HandleItemsPerPageChanged(int itemsPerPage)
    {
        _isLoading = true;
        _pageSize = itemsPerPage;
        await LoadVehicleListDto();
        _isLoading = false;
    }

    private void ShowAllCars()
    {
        _showAllCars = true;
        _addNewVehicle = false;
        _selectedVehicle = false;
    }

    private async Task OnChangeName(ChangeEventArgs e)
    {
        var version = ++_currentFilterVersion;
        _searchNameTerm = e.Value?.ToString() ?? string.Empty;

        await Task.Delay(FilterDelay);

        if (version == _currentFilterVersion)
        {
            var naam = _driverListDto?.DriverDtos.Where(x => x.FirstName.ToLower().Contains(_searchNameTerm.ToLower())).ToList();
            if (naam != null && naam.Any())
                _filteredListDriverDto = naam;
            else
                _filteredListDriverDto = _driverListDto?.DriverDtos ?? new();
        }
    }

    private async Task OnChangeRegister(ChangeEventArgs e)
    {
        var version = ++_currentFilterVersion;
        _searchRegisterNumberTerm = e.Value?.ToString() ?? string.Empty;

        await Task.Delay(FilterDelay);

        if (version == _currentFilterVersion)
        {
            var registerNumber = _driverListDto?.DriverDtos.Where(x => x.RegisterNumber.Contains(_searchRegisterNumberTerm)).ToList();
            if (registerNumber != null && registerNumber.Any())
                _filteredListDriverDto = registerNumber;
            else
                _filteredListDriverDto = _driverListDto?.DriverDtos ?? new();
        }
    }

}