@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums
@using AllPhi.HoGent.Blazor.Extensions
@inject HttpClient _http
@inject IJSRuntime JSRuntime

@using Newtonsoft.Json
@inject HttpClient _http
@inject IJSRuntime JSRuntime

<style>
    .scrollable-driver-list {
        max-height: 220px;
        overflow-y: auto;
    }

    .review {
        font-weight: bolder;
        margin-bottom: 2px;
    }

        .review span {
            font-weight: normal;
        }

    .klantenportaal-info-add-new-user {
        border: 1px #2099c6 solid;
        border-radius: 5px;
        padding: 5px;
        margin-top: revert;
    }

    .wizard-steps {
        font-size: 2rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .wizard-item {
        display: flex;
        align-items: center;
    }

    .wizard-step {
        cursor: pointer;
    }

    .wizard-line {
        width: 7vw;
        height: 2px;
        background-color: #ccc;
        margin: 0 8px;
    }

    .wizard-line-active {
        background-color: #2099c6;
    }

    .wizard-step-active {
        color: #2099c6;
    }

    .wizard-step-inactive {
        color: gray;
    }

    .dropdown-container {
        position: relative;
        width: 300px;
    }

    .dropdown-input {
        width: 100%;
        padding: 1px 2px;
        box-sizing: border-box;
    }

    .dropdown-list {
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background: white;
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .dropdown-list li {
            padding: 8px;
            cursor: pointer;
        }

            .dropdown-list li:hover {
                background-color: #f0f0f0;
            }
</style>

<div class="row m-2">
    <div class="col-md-12 mb-3 wizard-steps">
        @for (int i = 0; i < 5; i++)
        {
            var step = i; // Tijdelijke variabele
            <div class="wizard-item">
                <span class="wizard-step @(step <= (int)currentStep ? "wizard-step-active" : "wizard-step-inactive")" @onclick="(step == 0 || _readyForNext) ? () => AttemptToGoToStep(step) : null ">
                    <i class="@GetIconClass(step)"></i>
                </span>
                @if (i < 4) // Voeg geen lijn toe na het laatste icoon
                {
                    <div class="wizard-line @(step < (int)currentStep ? "wizard-line-active" : "")"></div>
                }
            </div>
        }
    </div>

    @if (currentStep == WizardStep.DriverDetails)
    {
        <div class="col-md-12 mb-3">
            <p class="klantenportaal-info-add-new-user">
                Voer de voornaam, achternaam en rijksregisternummer in om een nieuwe bestuurder toe te voegen.
                Deze essentiële informatie is nodig om verder te gaan.
                Klik op 'Volgende' na het invullen van de gegevens om de registratie voort te zetten.
                <br />
                <br />
                Uw nauwkeurigheid zorgt voor een vlotte onboarding.
            </p>
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="firstname">Voornaam:</label>
            <input class="form-input-select" type="text" name="firstname" @oninput="@((e) => OnInput(e, "firstname"))" id="firstname" @bind="SelectedFirstName" />
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="lastname">Achternaam:</label>
            <input class="form-input-select" type="text" name="lastname" @oninput="@((e) => OnInput(e, "lastname"))" id="lastname" @bind="SelectedLastName" />
        </div>

        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="geboortedatum">Geboortedatum:</label>
            <input class="form-input-select" type="date" name="geboortedatum" id="geboortedatum" min="@MinDate" max="@MaxDate" @oninput="@((e) => ValidateNumber(e, "dateOfBirth"))" @bind="SelectedBirthdate" />
        </div>

        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="registernumber">Rijksregisternummer:</label>
            <input class="form-input-select" type="text" name="registernumber" @oninput="@((e) => ValidateNumber(e, "validateNumber"))" @bind="SelectedRegisternumber" />
            <span class="alert-danger">@ValidationMessage</span>
        </div>
    }
    else if (currentStep == WizardStep.DriverAdress)
    {
        <div class="col-md-12 mb-3">
            <p class="klantenportaal-info-add-new-user">
                Voer de adres gegevens correct in om een nieuwe bestuurder toe te voegen.
                Deze essentiële informatie is nodig om verder te gaan.
                Klik op 'Volgende' na het invullen van de gegevens om de registratie voort te zetten.
                <br />
                <br />
                Uw nauwkeurigheid zorgt voor een vlotte onboarding.
            </p>
        </div>
        <div class="col-md-12 mb-3">
            <div @ref="container" class="dropdown-container" tabindex="0">
                <label class="d-flex required-field-mark form-titles" for="housenumber">Straat:</label>
                <input @bind="inputValue" @oninput="OnInputChanged" class="dropdown-input" placeholder="Zoek straat..." />
                @if (isDropdownVisible && AddressSuggestions.Any())
                {
                    <ul class="dropdown-list">
                        @foreach (var address in AddressSuggestions)
                        {
                            <li @onclick="() => SelectAddress(address)">
                                @address.Thoroughfarename @address.Zipcode @address.Municipality
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="housenumber">Huisnummer:</label>
            <input class="form-input-select" name="housenumber" @oninput="@((e) => OnInput(e, "housenumber"))" id="housenumber" @bind="SelectedHouseNumber" />
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="city">Gemeente:</label>
            <input class="form-input-select" name="city" id="city" disabled @bind="SelectedCity" />
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex required-field-mark form-titles" for="postalcode">Postcode:</label>
            <input class="form-input-select" name="postalcode" id="postalcode" disabled @bind="SelectedPostalCode" />
        </div>
    }
    else if (currentStep == WizardStep.Status)
    {
        <div class="col-md-12 mb-3">
            <p class="klantenportaal-info-add-new-user">
                Selecteer de gewenste status en de rijbewijs type voor de nieuwe bestuurder: 'Actief', of 'Niet actief' staat toe dat er getankt kan worden.
                De gekozen status en de rijbewijs bepaalt de beschikbare functionaliteiten voor de bestuurder binnen ons systeem.
                <br />
                <br />
                Kies zorgvuldig en ga verder met 'Volgende'.
            </p>
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex form-titles" for="driverlisence">Rijbewijs:</label>
            <select class="form-input-select" id="driverlisence" @bind="TypeOfDriverLicense">
                @foreach (var driverLicense in Enum.GetValues(typeof(TypeOfDriverLicense)))
                {
                    <option value="@driverLicense">@driverLicense</option>
                }
            </select>
        </div>
        <div class="col-md-12 mb-3">
            <label class="d-flex form-titles" for="status">Status:</label>
            <select class="form-input-select" id="status" @bind="SelectedStatus">
                <option selected value="@Status.Active">Actief</option>
                <option value="@Status.Deactive">Niet actief</option>
            </select>
        </div>
    }
    else if (currentStep == WizardStep.Related)
    {
        <div class="col-md-12 mb-3">
            <p class="klantenportaal-info-add-new-user">
                Kies uit de beschikbare tankkaarten en wagens die aan uw bedrijf zijn gekoppeld.
                Elke geselecteerde tankkaart en wagen zal door de nieuwe bestuurder beheerd worden.
                U kunt meerdere tankkaarten en wagens selecteren om toegang te geven aan de nieuwe bestuurders.
                <br />
                <br />
                Vink de relevante tankkaart, wagen aan en ga verder met 'Volgende' om de instellingen te bevestigen.
            </p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-titles">Gekoppelde tankkaarten:</label>
            <div class="col-md-6" style="margin-right:15px; margin-bottom:5px;">
                <input class="w-100" type="text" placeholder="Zoek op kaartnummer" @bind="_searchCardNumberTerm" @oninput="OnChangeCardNumber" />
            </div>
            @if (_filteredListFuelCardDto != null && _filteredListFuelCardDto.Any())
            {
                <div class="scrollable-list">
                    @foreach (var fuelCard in _filteredListFuelCardDto.OrderBy(x => x.CardNumber))
                    {
                        <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedFuelCards.Contains(fuelCard) ? "tabel-row-selected" : "")"
                             @onclick="@(() => CheckFuelCardsChanged(fuelCard))">
                            <label class="pointer-cursor">@fuelCard.CardNumber</label>
                            <input class="pointer-cursor" checked="@(_checkedFuelCards.Contains(fuelCard))" type="checkbox" />
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-titles">Gekoppelde wagens:</label>
            <div class="col-md-6" style="margin-right:15px; margin-bottom:5px;">
                <input class="w-100" type="text" placeholder="Zoek op nummerplaat" @bind="_searchLicensePlateTerm" @oninput="OnChangeLicensePlate" />
            </div>
            @if (_filteredListVehicleDto != null && _filteredListVehicleDto.Any())
            {
                <div class="scrollable-list">
                    @foreach (var vehicle in _filteredListVehicleDto.OrderBy(x => x.CarBrand))
                    {
                        <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedVehicles.Contains(vehicle) ? "tabel-row-selected" : "")"
                             @onclick="@(() => CheckVehiclesChanged(vehicle))">
                            <div class="d-flex col-10">
                                <label class="pointer-cursor col-4">@vehicle.CarBrand</label>
                                <label class="pointer-cursor col-4">@vehicle.LicensePlate</label>
                            </div>
                            <input class="pointer-cursor" checked="@(_checkedVehicles.Contains(vehicle))" type="checkbox" />
                        </div>
                    }
                </div>
            }
        </div>
    }


    else if (currentStep == WizardStep.Review)
    {
        <div class="col-md-12 mb-3">
            <p class="klantenportaal-info-add-new-user">
                U bevindt zich nu in de laatste fase van het bestuurderstoevoegingsproces.
                Gelieve zorgvuldig alle door u gemaakte keuzes en instellingen te herzien.
                Controleer de informatie, adres, status, geselecteerde tankkaarten en wagens.
                Na bevestiging zal de nieuwe bestuurder worden aangemaakt.
                <br />
                <br />
                Druk op 'Opslaan' om te bevestigen.
                U heeft altijd de mogelijkheid om later wijzigingen aan te brengen en de instellingen van de gebruiker bij te werken.
            </p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="review">Voornaam: <span>@SelectedFirstName</span></p>
            <p class="review">Achternaam: <span>@SelectedLastName</span></p>
            <p class="review">Geboortedatum: <span>@SelectedBirthdate.ToString("dd/MM/yyyy")</span></p>
            <p class="review">Rijksregisternummer: <span>@SelectedRegisternumber</span></p>
            <p class="review">Status: <span>@SelectedStatus</span></p>
            <p class="review">Straat: <span>@SelectedStreet</span></p>
            <p class="review">Huisnummer: <span>@SelectedHouseNumber</span></p>
            <p class="review">Gemeente: <span>@SelectedCity</span></p>
            <p class="review">Postcode: <span>@SelectedPostalCode</span></p>
            <p class="review">Rijbewijs: <span>@TypeOfDriverLicense</span></p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="review">Geselecteerde tankkaarten:</p>
            @foreach (var fuelcard in _checkedFuelCards)
            {
                <p class="review">- <span>@fuelcard.CardNumber</span></p>
            }

            <div class="col-md-6 mb-3 mt-3">
                <p class="review">Geselecteerde wagens:</p>
                @foreach (var vehicle in _checkedVehicles)
                {
                    <div class="d-flex col-12">
                        <p class="review col-4">- <span>@vehicle.CarBrand</span></p>
                        <span class="col-6">@vehicle.LicensePlate</span>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="d-flex m-2">
    @if (currentStep != WizardStep.DriverDetails)
    {
        <button type="button" class="btn buttons-succes m-2" @onclick="GoToPreviousStep">Vorige</button>
    }

    @if (currentStep != WizardStep.Review)
    {
        @if (!_readyForNext)
        {
            <button type="button" disabled class="btn btn-disabled  m-2">Volgende</button>
        }
        else
        {
            <button type="button" class="btn buttons-succes m-2" @onclick="GoToNextStep">Volgende</button>
        }
    }

    else
    {
        <button type="button" class="btn buttons-succes m-2" @onclick="HandleSave">Opslaan</button>
    }
</div>

@code {
    private IEnumerable<FuelCardDto> _filteredListFuelCardDto;
    private IEnumerable<VehicleDto> _filteredListVehicleDto;
    private string _searchCardNumberTerm = string.Empty;
    private string _searchLicensePlateTerm = string.Empty;
    private int _currentFilterVersion = 0;
    private const int FilterDelay = 700;

    private ElementReference container;
    private string inputValue = "";
    private bool isDropdownVisible;
    private bool _registerNumberIsValid;
    private List<LocationModel.LocationResult> AddressSuggestions = new();

    public enum WizardStep
    {
        DriverDetails,
        DriverAdress,
        Status,
        Related,
        Review
    }

    private bool _readyForNext = false;

    private WizardStep currentStep = WizardStep.DriverDetails;

    public string SelectedFirstName { get; set; } = string.Empty;
    public string SelectedLastName { get; set; } = string.Empty;
    public DateTime SelectedBirthdate { get; set; } = DateTime.Now;
    public string SelectedRegisternumber { get; set; }
    public string ValidationMessage { get; set; } = string.Empty;
    public DateTime MinDate => DateTime.Now.AddYears(-100);
    public DateTime MaxDate => DateTime.Now;

    public string SelectedStreet { get; set; } = string.Empty;
    public string SelectedHouseNumber { get; set; } = string.Empty;
    public string SelectedCity { get; set; } = string.Empty;
    public string SelectedPostalCode { get; set; } = string.Empty;

    public TypeOfDriverLicense TypeOfDriverLicense { get; set; } = TypeOfDriverLicense.B;
    public Status SelectedStatus { get; set; } = Status.Active;
    private List<VehicleDto> _checkedVehicles = new();
    private List<FuelCardDto> _checkedFuelCards = new();

    [Parameter]
    public EventCallback<DriverDto> OnSave { get; set; }

    [Parameter]
    public List<VehicleDto>? Vehicles { get; set; } = new();

    [Parameter]
    public List<FuelCardDto>? FuelCards { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        IsFormValid();
        _filteredListFuelCardDto = FuelCards ?? new();
        _filteredListVehicleDto = Vehicles ?? new();
    }

    private async Task HandleSave()
    {
        var driver = new DriverDto
        {
            Id = Guid.NewGuid(),
            FirstName = SelectedFirstName,
            LastName = SelectedLastName,
            DateOfBirth = SelectedBirthdate,
            RegisterNumber = SelectedRegisternumber,
            Street = SelectedStreet,
            HouseNumber = SelectedHouseNumber,
            City = SelectedCity,
            PostalCode = SelectedPostalCode,
            Status = SelectedStatus,
            FuelCardDtos = _checkedFuelCards,
            TypeOfDriverLicense = TypeOfDriverLicense,
            VehicleDtos = _checkedVehicles
        };
        await OnSave.InvokeAsync(driver);
    }

    private void IsFormValid()
    {
        if (currentStep == WizardStep.DriverDetails)
        {

            bool isBirthdateValid = SelectedBirthdate >= MinDate && SelectedBirthdate <= MaxDate;


            if (string.IsNullOrEmpty(SelectedFirstName) ||
            string.IsNullOrEmpty(SelectedLastName) ||
            string.IsNullOrEmpty(SelectedRegisternumber) ||
            !isBirthdateValid ||
            !_registerNumberIsValid)
                _readyForNext = false;
            else
                _readyForNext = true;
        }
        else if (currentStep == WizardStep.DriverAdress)
        {
            if (string.IsNullOrEmpty(SelectedStreet) ||
                string.IsNullOrEmpty(SelectedHouseNumber) ||
                string.IsNullOrEmpty(SelectedCity) ||
                string.IsNullOrEmpty(SelectedPostalCode))
                _readyForNext = false;
            else
                _readyForNext = true;
        }
    }

    private void OnInput(ChangeEventArgs e, string field)
    {
        var v = e?.Value?.ToString();

        if (field == "firstname")
            SelectedFirstName = e?.Value?.ToString() ?? "";
        else if (field == "lastname")
            SelectedLastName = e?.Value?.ToString() ?? "";
        else if (field == "registernumber")
            SelectedRegisternumber = e?.Value?.ToString() ?? "";
        else if (field == "street")
            SelectedStreet = e?.Value?.ToString() ?? "";
        else if (field == "housenumber")
            SelectedHouseNumber = e?.Value?.ToString() ?? "";
        else if (field == "city")
            SelectedCity = e?.Value?.ToString() ?? "";
        else if (field == "postalcode")
            SelectedPostalCode = e?.Value?.ToString() ?? "";

        IsFormValid();
    }

    private string GetIconClass(int step) => step switch
    {
        0 => "fas fa-user-edit",
        1 => "fas fa-user-tag",
        2 => "fas fa-user-check",
        3 => "fas fa-list",
        4 => "fas fa-check-circle",
        _ => ""
    };

    void GoToPreviousStep()
    {
        if (currentStep > WizardStep.DriverDetails)
        {
            currentStep--;
        }
    }

    void GoToNextStep()
    {
        if (currentStep < WizardStep.Review)
        {
            currentStep++;
        }
        IsFormValid();
    }

    private void CheckFuelCardsChanged(FuelCardDto fuelCardDto)
    {
        if (_checkedFuelCards.Contains(fuelCardDto))
            _checkedFuelCards.Remove(fuelCardDto);
        else
            _checkedFuelCards.Add(fuelCardDto);
    }

    private void CheckVehiclesChanged(VehicleDto vehicleDto)
    {
        if (_checkedVehicles.Any(x => x == vehicleDto))
            _checkedVehicles.Remove(vehicleDto);
        else
            _checkedVehicles.Add(vehicleDto);
    }

    private void GoToStep(int step)
    {
        currentStep = (WizardStep)step;
    }

    private void AttemptToGoToStep(int step)
    {
        if (_readyForNext || step < (int)currentStep)
        {
            GoToStep(step);
        }
    }



    private async Task OnInputChanged(ChangeEventArgs e)
    {
        var version = ++_currentFilterVersion;
        inputValue = e.Value.ToString();

        await Task.Delay(FilterDelay);

        if (version == _currentFilterVersion)
        {
            if (!string.IsNullOrEmpty(inputValue))
            {
                await FetchAddressSuggestions(inputValue);
                isDropdownVisible = true;
                IsFormValid();
            }
            else
            {
                isDropdownVisible = false;
                SelectedStreet = string.Empty;
                SelectedPostalCode = string.Empty;
                SelectedCity = string.Empty;
                IsFormValid();
            }
        }
    }

    private async Task FetchAddressSuggestions(string street)
    {
        var response = await _http.GetAsync($"https://geo.api.vlaanderen.be/geolocation/Location?q={Uri.EscapeDataString(street)}&c=20");
        if (response.IsSuccessStatusCode)
        {
            var jsonResponse = await response.Content.ReadAsStringAsync();
            try
            {
                var data = JsonConvert.DeserializeObject<LocationModel.Root>(jsonResponse);
                if (data != null && data.LocationResult != null)
                {
                    AddressSuggestions = data.LocationResult.ToList();
                }
            }
            catch (JsonException ex)
            {
                Console.WriteLine("JSON Parsing Error: " + ex.Message);
                // Implementeer hier robuustere foutafhandeling
            }
        }
    }

    private void SelectAddress(LocationModel.LocationResult address)
    {
        SelectedStreet = address.Thoroughfarename;
        SelectedPostalCode = address.Zipcode;
        SelectedCity = address.Municipality;
        inputValue = address.Thoroughfarename; // toon alleen de straatnaam in het inputveld
        isDropdownVisible = false;
        IsFormValid();
    }

    private void ValidateNumber(ChangeEventArgs e, string field)
    {
        if (field == "validateNumber")
            SelectedRegisternumber = e?.Value?.ToString() ?? "";

        if (!ValidateRegisterNumber.IsValidDriverRegisterNumber(SelectedRegisternumber))
        {
            ValidationMessage = "Ongeldig rijksregisternummer. Controleer het nummer a.u.b";
            //SelectedRegisternumber = "";
            _registerNumberIsValid = false;
            IsFormValid();
        }
        else
        {
            ValidationMessage = string.Empty;
            _registerNumberIsValid = true;
            IsFormValid();
        }
    }

    // <====================================================>
    // <====================== SEARCH ======================>
    // <====================================================>
    private async Task OnChangeCardNumber(ChangeEventArgs e)
    {
        var version = ++_currentFilterVersion;
        _searchCardNumberTerm = e.Value?.ToString() ?? string.Empty;

        await Task.Delay(FilterDelay);

        if (version == _currentFilterVersion)
        {
            var cardNumber = FuelCards?.Where(x => x.CardNumber.ToLower().Contains(_searchCardNumberTerm.ToLower())).ToList();
            if (cardNumber != null && cardNumber.Any())
                _filteredListFuelCardDto = cardNumber;
            else
                _filteredListFuelCardDto = FuelCards ?? new();
        }
    }

    private async Task OnChangeLicensePlate(ChangeEventArgs e)
    {
        var version = ++_currentFilterVersion;
        _searchLicensePlateTerm = e.Value?.ToString() ?? string.Empty;

        await Task.Delay(FilterDelay);

        if (version == _currentFilterVersion)
        {
            var licensePlate = Vehicles?.Where(x => x.LicensePlate.ToLower().Contains(_searchLicensePlateTerm.ToLower())).ToList();
            if (licensePlate != null && licensePlate.Any())
                _filteredListVehicleDto = licensePlate;
            else
                _filteredListVehicleDto = Vehicles ?? new();
        }
    }
}
