@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums

<style>
    .review {
        font-weight: bolder;
    }

        .review span {
            font-weight: normal;
        }

    .klantenportaal-info-add-new-user {
        border: 1px #2099c6 solid;
        border-radius: 5px;
        padding: 5px;
        margin-top: revert;
    }

    .wizard-steps {
        font-size: 2rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .wizard-item {
        display: flex;
        align-items: center;
    }

    .wizard-step {
        cursor: pointer;
    }

    .wizard-line {
        width: 7vw;
        height: 2px;
        background-color: #ccc;
        margin: 0 8px;
    }

    .wizard-line-active {
        background-color: #2099c6;
    }

    .wizard-step-active {
        color: #2099c6;
    }

    .wizard-step-inactive {
        color: gray;
    }
</style>

<div class="col-md-12 mb-3 wizard-steps">
    @for (int i = 0; i < 5; i++)
    {
        var step = i;
        <div class="wizard-item">
            <span class="wizard-step @(step <= (int)currentStep ? "wizard-step-active" : "wizard-step-inactive")" @onclick="(step == 0 || _readyForNext) ? () => AttemptToGoToStep(step) : null ">
                <i class="@GetIconClass(step)"></i>
            </span>
            @if (i < 4)
            {
                <div class="wizard-line @(step < (int)currentStep ? "wizard-line-active" : "")"></div>
            }
        </div>
    }
</div>


@if (currentStep == WizardStep.FuelCardDetails)
{
    <div class="col-md-12 mb-3">
        <p class="klantenportaal-info-add-new-user">
            Voer de chassisnummer en nummerplaat in om een nieuwe wagen toe te voegen.
            Deze essentiële informatie is nodig om verder te gaan.
            Klik op 'Volgende' na het invullen van de gegevens om de registratie voort te zetten.
            <br />
            <br />
            Uw nauwkeurigheid zorgt voor een vlotte onboarding.
        </p>
    </div>
    <div class="col-md-12 mb-3">
        <label class="d-flex required-field-mark" for="cardnumber">Kaartnummer:</label>
        <input class="form-input-select" name="cardnumber" @oninput="@((e) => OnInput(e, "chassisnumber"))" id="cardnumber" @bind="SelectedCardNumber" />
    </div>
    <div class="col-md-12 mb-3">
        <label class="d-flex required-field-mark" for="validityday">Vervaldag:</label>
        <input class="form-input-select" type="date" name="validityday" @oninput="@((e) => OnInput(e, "licenseplate"))" id="validityday" @bind="SelectedValidityDate" />
    </div>
}
else if (currentStep == WizardStep.Status)
{
    <div class="col-md-12 mb-3">
        <p class="klantenportaal-info-add-new-user">
            Selecteer de gewenste status en de pin voor de nieuwe kaart: 'Actief', of 'Niet actief' staat toe dat er getankt kan worden.
            De gekozen status bepaalt de beschikbare functionaliteiten voor de kaart binnen ons systeem.
            <br />
            <br />
            Kies zorgvuldig en ga verder met 'Volgende'.
        </p>
    </div>
    <div class="col-md-12 mb-3">
        <label class="d-flex required-field-mark" for="pin">Pin:</label>
        <input class="form-input-select" type="number" name="pin" @oninput="@((e) => OnInput(e, "pin"))" id="pin" @bind="SelectedPin" />
    </div>
    <div class="col-md-12 mb-3">
        <label class="d-flex" for="status">Status:</label>
        <select class="form-input-select" id="status" @bind="SelectedStatus">
            <option selected value="@Status.Active">Actief</option>
            <option value="@Status.Deactive">Niet actief</option>
        </select>
    </div>
}
else if (currentStep == WizardStep.FuelType)
{
    <div class="col-md-12 mb-3">
        <p class="klantenportaal-info-add-new-user">
            Kies de tank type voor de nieuwe kaart: 'Actief' staat toe dat de gebruiker toegang heeft en handelingen kan uitvoeren conform hun toegewezen rol binnen het bedrijf.
            Een 'Niet-actieve' status beperkt alle toegang en functionaliteiten tot ze geactiveerd worden.
            <br />
            <br />
            Maak een weloverwogen keuze en klik op 'Volgende' om verder te gaan.
        </p>
    </div>
    <div class="col-md-12 mb-3">
        <label class="d-flex" for="type">Type:</label>
        @foreach (var fuelType in Enum.GetValues(typeof(FuelType)))
        {
            <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedFuelType.Any(x => x == (FuelType)fuelType) ? "tabel-row-selected" : "")"
                 @onclick="@(() => CheckFuelTypeChanged((FuelType)fuelType))">
                <label class="pointer-cursor">@fuelType</label>
                <input class="pointer-cursor" checked="@(_checkedFuelType.Any(x => x == (FuelType)fuelType))" type="checkbox" />
            </div>
        }
    </div>
    }
else if (currentStep == WizardStep.RelatedDrivers)
{
    <div class="col-md-12 mb-3">
        <p class="klantenportaal-info-add-new-user">
            Kies uit de beschikbare bestuurder die aan uw bedrijf zijn gekoppeld.
            Elke geselecteerde bestuurder kan de nieuwe kaart inzien en beheren.
            U kunt meerdere bestuurder selecteren om toegang te geven aan meerdere bestuurders.
            <br />
            <br />
            Vink de relevante bestuurder aan en ga verder met 'Volgende' om de instellingen te bevestigen.
        </p>
    </div>
    <div class="col-md-12 mb-3">
        <label>Gekoppelde bestuurders:</label>
        @foreach (var driver in Drivers)
        {
            <div class="col-12 d-flex justify-content-between linked-subscriptions-first pointer-cursor border-bottom-solid @(_checkedDriver.Contains(driver) ? "tabel-row-selected" : "")"
                 @onclick="(() => CheckDriverChanged(driver))">
                <label class="pointer-cursor">@driver.FirstName @driver.LastName</label>
                <input class="pointer-cursor" checked="@(_checkedDriver.Contains(driver))" type="checkbox" />
            </div>
        }
    </div>
}

@code {
    public enum WizardStep
    {
        FuelCardDetails,
        Status,
        FuelType,
        RelatedDrivers,
        Review
    }

    private bool _readyForNext = false;

    private WizardStep currentStep = WizardStep.FuelCardDetails;

    public string SelectedCardNumber { get; set; } = string.Empty;
    public DateTime SelectedValidityDate { get; set; } = DateTime.Now;
    public int SelectedPin { get; set; } = 1234;
    public Status SelectedStatus { get; set; } = Status.Active;
    public FuelType SelectedFuelType { get; set; } = FuelType.Benzine;

    private List<FuelCardFuelTypeDto> _fuelCardFuelTypeDtos = new();
    private List<DriverDto> _checkedDriver = new();
    private List<FuelType> _checkedFuelType = new();

    [Parameter]
    public List<DriverDto>? Drivers { get; set; } = new();

    [Parameter]
    public EventCallback<FuelCardDto> OnSave { get; set; }


    protected override async Task OnInitializedAsync()
    {
        IsFormValid();
    }

    private void IsFormValid()
    {
        if (currentStep == WizardStep.FuelCardDetails)
        {
            if (string.IsNullOrEmpty(SelectedCardNumber) ||
                string.IsNullOrEmpty(SelectedValidityDate.ToString()))
                _readyForNext = false;
            else
                _readyForNext = true;
        }
        else if (currentStep == WizardStep.Status)
        {
            if (SelectedPin.ToString().Length != 4)
                _readyForNext = false;
            else
                _readyForNext = true;
        }
    }

    private async Task HandleSave()
    {
        var fuelCard = new FuelCardDto
            {
                Id = Guid.NewGuid(),
                CardNumber = SelectedCardNumber,
                Pin = SelectedPin,
                Status = SelectedStatus,
                ValidityDate = SelectedValidityDate,
                DriverDtos = _checkedDriver,
                FuelCardFuelTypesDto = _checkedFuelType.Select(fuelType => new FuelCardFuelTypeDto { FuelType = fuelType }).ToList()
            };

        await OnSave.InvokeAsync(fuelCard);
    }

    private void CheckDriverChanged(DriverDto driverDto)
    {
        if (_checkedDriver.Contains(driverDto))
            _checkedDriver.Remove(driverDto);
        else
            _checkedDriver.Add(driverDto);
    }

        private void CheckFuelTypeChanged(FuelType fuelType)
    {
        if (_checkedFuelType.Any(x => x == fuelType))
            _checkedFuelType.Remove(fuelType);
        else
            _checkedFuelType.Add(fuelType);
    }

    private string GetIconClass(int step) => step switch
    {
        0 => "fas fa-user-edit",
        1 => "fas fa-user-tag",
        2 => "fas fa-user-check",
        3 => "fas fa-list",
        4 => "fas fa-check-circle",
        _ => ""
    };

    private void GoToStep(int step)
    {
        currentStep = (WizardStep)step;
    }

    private void AttemptToGoToStep(int step)
    {
        if (_readyForNext || step < (int)currentStep)
        {
            GoToStep(step);
        }
    }


    void GoToPreviousStep()
    {
        if (currentStep > WizardStep.FuelCardDetails)
        {
            currentStep--;
        }
    }

    void GoToNextStep()
    {
        if (currentStep < WizardStep.Review)
        {
            currentStep++;
        }
        IsFormValid();
    }

    private void OnInput(ChangeEventArgs e, string field)
    {
        if (e?.Value != null)
        {
            if (field == "cardnumber")
                SelectedCardNumber = e.Value.ToString();
            else if (field == "validityday")
                SelectedValidityDate = DateTime.Parse(e.Value.ToString());
            else if (field == "pin")
                SelectedPin = int.Parse(e.Value.ToString());
        }
        IsFormValid();
    }
}
